# **Assignment #01**

# **Hope to Skills:**

# **Free Artificial Intelligence Advance Course**

# **Instructor:**

# **Irfan Malik, Dr. Sheraz**
# **Student Name:Shanza Khan**

# **Solve the Following Task:**

# 1.Create a list named "fruits" containing three different fruits and display its items using for loop.

In [26]:
#Create list containing three different fruits
fruits = ["orang","apple","mango"]
for items in fruits:
 print(items)
print(fruits) #printing the list

orang
apple
mango
['orang', 'apple', 'mango']

# 2.Create a tuple named "numbers" with five random numbers and  display its item using for loop.

In [25]:
#Create a Tuple with random numbers
import random
numbers = tuple(random.randint(1,100) for _ in range(5))

#print numbers using for loop
print("\nNumbers:")
for number in numbers:
 print(number)

Numbers:
69
98
70
92
96

# 3.Create a set named "colors" with three different colors and display its items using for loop.

In [33]:
#Create a Set with different colors
colors = {"Red","Pink","White"}

#print color using for loop
print("\nColors:")
for color in colors:
  print(color)

Colors:
White
Pink
Red

# 4.Create a dictionary named "student" with the following key-value pairs:

 o "name" as the key and the student's name as the value.

o "age" as the key and the student's age as the value.

o "grade" as the key and the student's grade as the value.

o Iterate over the dictionary using the for loop and display its keys

In [48]:
#Create a dictionary with key-value pairs
student = {
    "name":"Johen",
    "age":20,
    "grade": "A"
    }
#Iterate through each key in the dictionary
print("\nStudent Information:")
for key in student:
 print(f"{key}: {student[key]}")

Student Information:
name: Johen
age: 20
grade: A

# 5.Create a multi-line string named "poem" with a short poem of your choice.

In [50]:
#Create Multiline string using three quotes Or three single quotes:
poem = """Daffodils symbolize renewal and hope, making them a popular subject for inspirational poems about daffodils.
           This category features poems that inspire and uplift with the power of daffodils.
           Short poetries about daffodil poems capture the beauty of daffodilsin just a few lines,
           making them perfect for sharing on social media or as part of a greeting card."""

#6.Write an if statement to check if the length of the "fruits" list is greater than 3. If it is, print "You have many fruits!".

In [54]:
#Create a list with more than 3 fruits:
fruits = ["banana","apple","orang","cheery","mango"]
if len(fruits)>3: #using len() menthod
  print("You have many fruits!")

You have many fruits!

# 7.Create a program that takes a student's numerical grade as input and prints a corresponding letter grade. Use if-else statements to classify the grade into categories such as "A," "B," "C," "D," or "F."

o If the numerical grade is 90 or higher, the corresponding letter grade is "A."

o If the numerical grade is between 80 and 89 (inclusive), the corresponding
letter grade is "B."

o If the numerical grade is between 70 and 79 (inclusive), the corresponding
letter grade is "C."

o If the numerical grade is between 60 and 69 (inclusive), the corresponding
letter grade is "D."

o If the numerical grade is below 60, the corresponding letter grade is "F."

In [65]:
#Using numerical grade as input
numerical_grade = int(input("Enter the students numerical grade:"))
#using elif statments to classify grade:
if numerical_grade >= 90:
   letter_grade = "A"
elif numerical_grade >= 80: # b/w 80 and 89 (inclusive)
    letter_grade = "B"
elif numerical_grade >= 70: #b/w 70 and 79 (inclusive)
    letter_grade = "c"
elif numerical_grade >= 60: # b/w 60 and 69 (inclusive)
      letter_grade = "D"
else:
      letter_grade = "F" # below 60
      print("the corresponding letter grade is")

Enter the students numerical grade:88

# 8.Create a program that takes a temperature in Celsius as input from user and classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot."Use if-else statements to define the temperature ranges for each category.

o If the temperature is below -10 degrees Celsius, it's classified as "Freezing".


o If the temperature is between -10 and 0 degrees Celsius (exclusive), it's
classified as "Cold."

o If the temperature is between 0 and 20 degrees Celsius (exclusive), it's
classified as "Moderate."

o If the temperature is between 20 and 30 degrees Celsius (exclusive), it's
classified as "Warm."

o If the temperature is 30 degrees Celsius or above, it's classified as "Hot."