# Practices for Lectures (04 +05) Variable and data types
**video part 2: handling  single values or variable**

## 1.Integer value:

In [ ]:
#Examle of integer value using 10,-7 , 0
num1 = 10
num2 = -7
num3 = 0

print("num1 = ", num1,type(num1)) #type() function returns the type of the object
print("num2 = ", num2,type(num2))
print("num3 = ", num3,type(num3))

num1 =  10 <class 'int'>
num2 =  -7 <class 'int'>
num3 =  0 <class 'int'>

# 2.Floats Numbers 

 using examples : 3.14159, -0.001 , 1.5e2 = (which is equal to 150.0)

In [3]:
#Example of float value using 0.14159 , -0.001 , 1.5e2
pi = 0.14159
small_float = -0.001
exp_float = 1.5e2
print("pi = ", pi,type(pi))
print("small_float = ", small_float,type(small_float))
print("exp_float = ", exp_float,type(exp_float))
#Example of complex value using 3+4j , -2-3j
complex_num1 = 3 + 4j
complex_num2 = -2 - 3j
print("complex_num1 = ", complex_num1,type(complex_num1))
print("complex_num2 = ", complex_num2,type(complex_num2))

pi =  0.14159 <class 'float'>
small_float =  -0.001 <class 'float'>
exp_float =  150.0 <class 'float'>
complex_num1 =  (3+4j) <class 'complex'>
complex_num2 =  (-2-3j) <class 'complex'>

# String

In [ ]:
#Example of string 
string1 = "Hello, World!"   #double quotes
string2 = 'Python is fun!' #single quotes
string3 = '''This is a            ## triple quotes
multi-line string.'''
string4 = """This is also a
multi-line string."""   
print("string1 = ", string1,type(string1))
print("string2 = ", string2,type(string2))
print("string3 = ", string3,type(string3))
print("string4 = ", string4,type(string4))

string1 =  Hello, World! <class 'str'>
string2 =  Python is fun! <class 'str'>
string3 =  This is a
multi-line string. <class 'str'>
string4 =  This is also a
multi-line string. <class 'str'>

**string operation:**

In [8]:
#concept of string concatenation
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name #concatenation

#Repeating strings
ha_3_times = "Ha" * 3

#indexing and slicing
first_name = string1[0]
substring = last_name[1:3] #slicing

print("full_name = ", full_name,type(full_name))
print("ha_3_times = ", ha_3_times,type(ha_3_times))
print("first_name = ", first_name,type(first_name))
print("substring = ", substring,type(substring))

full_name =  John Doe <class 'str'>
ha_3_times =  HaHaHa <class 'str'>
first_name =  H <class 'str'>
substring =  oe <class 'str'>

**Use f-string (formetted strings) after readaility (python3.6+)**

In [ ]:
age = 25
print(f"My age is {age} years old.") #f-string for formatting values customized string

My age is 25 years old.

# 3.Boolean types:

In [14]:
#Example of boolean values
is_python_easy = True
likes_coding = False
print("variable value:" ,  is_python_easy,type(is_python_easy))
print("likes_coding:", likes_coding,type(likes_coding))

variable value: True <class 'bool'>
likes_coding: False <class 'bool'>

In [15]:
#checking value is True or False
#instead of : if is_python_easy == True:
if is_python_easy:
    print("Python is easy to learn!")
else:
    print("Python is not easy to learn!")

Python is easy to learn!

**None Types:**

absence of value : kisi be jagha jahan data ki nature k pta na hon yeh missing data

In [23]:
shanza_khan = None
print("nothing_here:", shanza_khan,type(shanza_khan))

nothing_here: None <class 'NoneType'>

**checking for None with None rather than == None**

In [24]:
if shanza_khan is None: # always is none condition using
    print("shanza_khan is None")

shanza_khan is None

# List:
**using collection of values or variables**

In [25]:
#creting a list in python with different data types
empty_list = [] #empty list
list_of_numbers = [1, 2, 3, 4, 5] #list of integers 
list_of_strings = ["apple", "banana", "cherry"] #list string
mixed_list = [1, "apple", 3.14, True] #mixed data types

print("empty_list:", empty_list,type(empty_list))
print("list_of_numbers:", list_of_numbers,type(list_of_numbers))
print("list_of_strings:", list_of_strings,type(list_of_strings))

#Accesss elements in list by index
first_element = list_of_numbers[0] #indexing
second_element = list_of_strings[-1] #negative indexing reverse order number

print("first_element:", first_element,type(first_element))
print("second_element:", second_element,type(second_element))

empty_list: [] <class 'list'>
list_of_numbers: [1, 2, 3, 4, 5] <class 'list'>
list_of_strings: ['apple', 'banana', 'cherry'] <class 'list'>
first_element: 1 <class 'int'>
second_element: cherry <class 'str'>

**list is mutable so we can adding removing and Modifying elements**

In [26]:
#adding elements to list
list_of_numbers.append(6) #append method add 6 using append function
print("list_of_numbers after append:", list_of_numbers,type(list_of_numbers))
list_of_strings.insert(1, "orange") #insert method add orange at index 1
print("list_of_strings after insert:", list_of_strings,type(list_of_strings))

#Removing elements from list
list_of_numbers.remove(4) #remove method remove 3 and returan first occurance 3
print("list_of_numbers after remove:", list_of_numbers,type(list_of_numbers))
list_of_strings.pop(2) #pop method remove element at index 2
print("list_of_strings after pop:", list_of_strings,type(list_of_strings)) 

#Modifying elements in list
list_of_numbers[0] = 10 #modify first element
print("list_of_numbers after modifying:", list_of_numbers,type(list_of_numbers))

list_of_numbers after append: [1, 2, 3, 4, 5, 6] <class 'list'>
list_of_strings after insert: ['apple', 'orange', 'banana', 'cherry'] <class 'list'>
list_of_numbers after remove: [1, 2, 3, 5, 6] <class 'list'>
list_of_strings after pop: ['apple', 'orange', 'cherry'] <class 'list'>
list_of_numbers after modifying: [10, 2, 3, 5, 6] <class 'list'>

# Tuple 

**using braket () or tuple()
immutable
ordered able like to list**

In [ ]:
# creating a tuple in python
empty_list = () #empty tuple
single_element_tuple = (1,) #single element tuple
tuple_of_numbers = (1, 2, 3, 4, 5) #tuple of integers
mixed_tuple = (1, "apple", 3.14, True) #mixed data types

print("empty_list:", empty_list)
print("single_tuple_element:", single_element_tuple)
print("tuple_of_numbers:", tuple_of_numbers)
print("mixed_tuple:", mixed_tuple)

#Accessing elements in tuple by index
first_element = tuple_of_numbers[0] #indexing
print("first_element:", first_element)

#slicing tuple
sliced_tuple = tuple_of_numbers[1:] #slicing  after 1 num and i number after nd before 4 like this form(20,30)
print("sliced_tuple:", sliced_tuple)

empty_list: ()
single_tuple_element: (1,)
tuple_of_numbers: (1, 2, 3, 4, 5)
mixed_tuple: (1, 'apple', 3.14, True)
first_element: 1
sliced_tuple: (2, 3, 4, 5)

In [32]:
# tuple is immutable cant be modified
# try to mofify tuple
tuple_of_numbers[0] = 10 # this will raise an error 
print("tuple_of_numbers after modifying:", tuple_of_numbers)

TypeError: 'tuple' object does not support item assignment

In [33]:
#unpacking tuple into  (separate variables)
person_tuple = ("John", 30, "USA")
name, age, country = person_tuple #unpacking
print("name:", name)
print("age:", age)
print("country:", country)

name: John
age: 30
country: USA

# Dictionary:

**key_values pairs , used for {} braces or dic{}, unordered , mutable, key must be immutable, value can be any type
key is a hashable object, value can be any type.**

In [55]:
#creating a dictionary in python
empty_dict = {} #empty dictionary
dict_of_numbers = {1: "one", 2: "two", 3: "three"} #dictionary of integers
dict_of_strings = {"apple": 1, "banana": 2, "cherry": 3} #dictionary of strings
another_dict = dict(name="John", age=30, country="USA") #another way to create a dictionary

print("empty_dict:", empty_dict)
print("dict_of_numbers:", dict_of_numbers)
print("dict_of_strings:", dict_of_strings)
print("another_dict:", another_dict)

#Accessing elements in dictionary by key
first_element = dict_of_numbers[1] #accessing by key
print("first_element:", first_element)

print("name:" , dict["name"]) #another way to create a dictionary
print("age:", another_dict.get("age"))# .get() method error handling
print("country", another_dict.get("country")) # .get()  safer method error handling returan None if key not found

empty_dict: {}
dict_of_numbers: {1: 'one', 2: 'two', 3: 'three'}
dict_of_strings: {'apple': 1, 'banana': 2, 'cherry': 3}
another_dict: {'name': 'John', 'age': 30, 'country': 'USA'}
first_element: one
name: dict['name']
age: 30
country USA

Adding Updating and removing key

In [56]:
#adding and updating key_value pairs in dictionary
another_dict["city"] = "New York" #adding new key-value pair add city if dnot exist else update
print("another_dict after adding:", another_dict)

#Removing key-value pairs from dictionary
removed_value = another_dict.pop("age") #remove key-value pair using pop method
print("removed_value:", removed_value)

#checking if key exists in dictionary
if "name" in another_dict: #check if key exists
    print("name exists in another_dict")
else:
    print("name does not exist in another_dict")

another_dict after adding: {'name': 'John', 'age': 30, 'country': 'USA', 'city': 'New York'}
removed_value: 30
name exists in another_dict

# Set collection

**using {} braces , unorderd collection of elements , its mutable you can add remove and modify elements**

In [58]:
#creating a set in python
empty_set = set() #empty set
set_of_numbers = {1, 2, 3, 4,4,5} #set of integers
mixed_set = {1, "apple", 3.14, True} #mixed data types
print("empty_set:", empty_set)
print("set_of_numbers:", set_of_numbers)
print("mixed_set:", mixed_set)

empty_set: set()
set_of_numbers: {1, 2, 3, 4, 5}
mixed_set: {1, 3.14, 'apple'}

Adding Removing Elements

In [61]:
#adding elements to set
set_of_numbers.add(6) #add method add 6
print("set_of_numbers after adding:", set_of_numbers)
set_of_numbers.discard(3) #discard method remove 3 if exist
print("set_of_numbers after discard:", set_of_numbers)
print("updated_set:", set_of_numbers)

set_of_numbers after adding: {1, 2, 4, 5, 6}
set_of_numbers after discard: {1, 2, 4, 5, 6}
updated_set: {1, 2, 4, 5, 6}

# Set operation:

**its support mathematical set operation like union intersction difference etc**

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
#union of two sets
set_union = set_a.union(set_b) #union method  this set_a|set_b
print("set_union:", set_union)

#intersection of two sets
set_intersection = set_a.intersection(set_b) #intersection method this set_a&set_b
print("set_intersection:", set_intersection)

#difference of two sets
set_difference = set_a.difference(set_b) #difference method this set_a-set_b
print("set_difference:", set_difference)

#symmetric difference of two sets
set_symmetric_difference = set_a.symmetric_difference(set_b) #symmetric difference method this set_a^set_b giving answer without common elements
print("set_symmetric_difference:", set_symmetric_difference)

set_union: {1, 2, 3, 4, 5}
set_intersection: {3}
set_difference: {1, 2}
set_symmetric_difference: {1, 2, 4, 5}